venv
.venv
dist
*.egg-info
*.pyc
build
.coverage
coverage.lcov
.tox
docs/_build
*.backup
.python-version
.DS_Store
local
.sounds_jar
*.html
*.patch
.env
.vscode/settings.json
.idea/.gitignore
.idea/auntie-sounds.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
